<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post a new Blog-Post</title>
</head>
<body>
    <% posts_data.forEach(function(blog_post) {%>
        <div>
            Post Name: <%=blog_post.name%> <br>
            Post Body: <%=blog_post.body%> <br><br>
        </div>
    <% }); %>
</body>
</html>